html {
  background-color: #eee3de;
  background-image: linear-gradient(to right, #d8ceca, #d8ceca 20px, #eee3de 5px, #eee3de );
  background-size: 40px 100%;
  font-family: 'Roboto', sans-serif;
}


body{
  text-align: center;
}
.box {
  font-family: 'Just Another Hand', 'Arial';
  font-size: 3.1rem;
  font-weight: 500;
  display: inline-block;
  margin-left: 50%;
  margin-top: 3%;
 
}

img {
  display: inline-block;
  margin-right: 50%;
  margin-top: 8%;
}

.quote {
  color: #1D3D53;
  font-family: 'Roboto', sans-serif;
  font-size: 2.7rem;
  line-height: 0.8;
  font-weight: 670;
  margin-top: 7%;
  display: inline-block;
  text-align: center;
  margin-right: 2%;
}

/* .top {
 
  margin-top: 50px;
  display: inline-block;
  position: absolute;
  left: 100px;
  padding-left:0px;
  padding-top: 60px;
  padding-right: 178px;
  background-image: url('../images/todobg.png');
  background-color: #ffc0c5;
  background-size: contain;
  z-index: -1;
} */

.toptext {
  font-family: 'Just Another Hand', 'Arial';
  font-size: 3.1rem;
  font-weight: 500;
  display: inline-block;
  background-color: #ffc0c5;
  padding: 1.7% 10%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}


.formlist {
  display: inline-block;
  max-width: 400px;
  background: #1d3d53;
}
  
.formfont {
  font-family: 'Roboto', sans-serif;
}

button {
  min-height: 45px;
  width: 45px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ffc0c5;
  color: black;
  font-size: 30px;
  padding-bottom:0px;
  border-width: 0;
  margin-right: 20px;
}

.item {
  min-height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #d8ceca;
  color: rgb(247, 247, 247);
  size: 1rem;
}

.item1 {
  min-height: 50px;
  display: flex;
  align-items: center;
  size: 1rem;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 210px;
  color: white;
  margin-right: 10px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ffc0c5;
}

input[type="checkbox"] {
  margin: 20px;
  margin-right: 10px;
  transition: 2s;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: white;
  text-decoration-thickness: 0.15rem;
}

::placeholder {
  color: rgb(218, 218, 218);
  opacity: 1;
}

footer {
  margin-top: 0%;
  text-align: center;
}

/* ________________________________________________________________ */

.flex-container, .flex-container1{

  display: flex;
}
.flex1, .flex2{
  flex: 1;
}
.list{
  text-align: center;
}


@media (max-width: 600px){
  .flex-container{
    display: inline-block;
    text-align: center;
  }
}
